@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme inline {
  --color-brand-orange: #eb5e28;
  --color-brand-yellow: #f4a261;
  --color-brand-dark: #1f2937;
  --color-brand-light: #fdfdfd;

  --color-background: var(--color-brand-light);
  --color-foreground: var(--color-brand-dark);


  --font-outfit: "Outfit", sans-serif;
  --font-instrument: var(--font-instrument), "Georgia", serif;
  --font-playfair: var(--font-playfair), "Georgia", serif;
  --font-space-grotesk: var(--font-space-grotesk), sans-serif;
  --font-roboto: var(--font-roboto), sans-serif;
  --font-faculty-glyphic: var(--font-faculty-glyphic), sans-serif;
  --font-heading: var(--font-outfit);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading tracking-tight;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 35s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .animate-marquee-reverse {
    animation: marquee-reverse 35s linear infinite;
  }

  .animate-marquee-reverse:hover {
    animation-play-state: paused;
  }
}

/* CHANGE DEFAULT BLUE TEXT SELECTION */
::selection {
  background: var(--color-brand-orange);
  color: white;
  text-shadow: none;
}

::-moz-selection {
  background: var(--color-brand-orange);
  color: white;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}